<div class="login-container">
  <div class="login-box">
    <h2>Login to Chat</h2>
    <form [formGroup]="formUser" (ngSubmit)="onSubmit()">
      <!-- Input Usuario -->
      <div class="input-group">
        <label for="user">User</label>
        <input type="text" id="user" formControlName="user" name="user" placeholder="Enter your user">
      </div>

      <div *ngIf="user?.invalid && formUser.get('user')?.touched" class="alert alert-danger">
        <span *ngIf="user?.errors?.['required']">The user is obligatory</span>
        <span *ngIf="user?.errors?.['user']">The user is incorrect</span>
      </div>

      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" name="password"
          placeholder="Enter your password">
      </div>

      <div *ngIf="password?.invalid && formUser.get('password')?.touched" class="alert alert-danger">
        <span *ngIf="password?.errors?.['required']">The password is obligatory</span>
        <span *ngIf="password?.errors?.['password']">The password is incorrect</span>
      </div>

     
      <button type="submit" [disabled]="formUser.invalid">Acceso</button>
      
    </form>

   
    <div class="linkedin-link">
      <a href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile"
        target="_blank">
        Visit my profile on LinkedIn
      </a>
    </div>

    <div class="linkedin-link" (click)="createUser()">
      <a href="javascript:void(0)">Create user</a>
    </div>
  </div>
</div>
