<h2 mat-dialog-title>Create User</h2>
<mat-dialog-content>
    <div class="input-group">
        <label for="user">Enter a username</label>
        <input type="text" id="user" formControlName="user" name="user" placeholder="Enter your user">
      </div>

      <div class="input-group">
        <label for="user">Enter a password</label>
        <input type="text" id="user" formControlName="user" name="user" placeholder="Enter your password">
      </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="primary">Create</button>
</mat-dialog-actions>