<h2 mat-dialog-title>Create User</h2>

<mat-dialog-content>
  <form [formGroup]="formPerson">
  <div class="input-group">
    <label for="user">Enter a name </label>
    <input type="text" id="nombre" formControlName="nombre" name="nombre" placeholder="Enter your name">
  </div>

  <div class="input-group">
    <label for="user">Enter a last name</label>
    <input type="text" id="apellido" formControlName="apellido" name="apellido" placeholder="Enter your last name">
  </div>

  <div class="input-group">
    <label for="user">Enter a phone</label>
    <input type="text" id="telefono" formControlName="telefono" name="telefono" placeholder="Enter your phone" maxlength="15">
  </div>


  <div class="input-group">
    <label for="user">Enter a username</label>
    <input type="text" id="usuario" formControlName="usuario" name="usuario" placeholder="Enter your user">
  </div>

 

  <div class="input-group">
    <label for="user">Enter a password</label>
    <input type="password" id="password" formControlName="password" name="password" placeholder="Enter your password">
  </div>

  <div class="select">
  <label for="select">Enter a group</label>
  <mat-form-field>
    <mat-label>Group</mat-label>
    <mat-select [(value)]="formPerson.controls['rol_id'].value">
      <mat-option *ngFor="let rol of datos" [value]="rol.id">
        {{ rol.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>


</form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="primary">Create</button>
</mat-dialog-actions>
